{% extends 'base.html' %}
{% block con %}

    <h1>{{user}}'s UPDATE PAGE</h1>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <table>
            <tr>
                <th>PASSWORD</th>
                <td><input type="password" name="upass"></td>
            </tr>
            <tr>
                <th>EMAIL</th>
                <td><input type="text" name="umail" value="{{user.email}}"></td>
            </tr>
            <tr>
                <th>AGE</th>
                <td><input type="number" value="{{ user.age }}" name="uage"></td>
            </tr>
            <tr>
                <th>PIC</th>
                <td><input type="file" name="upic"></td>
            </tr>
            <tr>
                <th>COMMENT</th>
                <td><textarea cols="50" rows="5" name="ucom">{{ user.comment }}</textarea></td>
            </tr>
        </table>
        <button>수정완료</button>
    </form>
{% endblock %}